---
layout: base
eleventyExcludeFromCollections: true
permalink: thanks/
---

<div class="relative bg-green-200 overflow-hidden">
  <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
    <main class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
      <div class="text-center">
        <h2 class="text-2xl tracking-tight leading-2 font-extrabold text-gray-800 sm:text-5xl sm:leading-none md:text-6xl">
          Thanks for submitting your question.
        </h2>
      </div>
    </main>
  </div>
</div>
